
/* I over wrote the hover for the nav bar links */

a:hover {

    color: #b8860b;

}

a img:hover {

    border: solid 8px #b8860b;

}

.heading {

    color: #ffffff;

    font-size: 400%;

    text-shadow: 
    -1px -1px #b8860b,
    1px -1px #b8860b,
    -1px 1px #b8860b,
    1px 1px #b8860b;

}

.video-container {

  position: relative;

  width: 100%;
 
  padding-top: 56.25%;

  overflow: hidden;
  
}

.video-container video {

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  object-fit: cover;

}

h1 {

    color: #ffffff;

    margin-left: 15px;

    font-size: 400%;

    text-shadow: 
    -1px -1px #b8860b,
    1px -1px #b8860b,
    -1px 1px #b8860b,
    1px 1px #b8860b;
    
}

h2, h3, h4, h5, h6 {

    
    margin-left: 6px;

    color: #ffffff;

    text-shadow: 
    -2px -2px #0d0d0d,
    2px -2px #0d0d0d,
    -2px 2px #0d0d0d,
    2px 2px #0d0d0d;

    font-size: 140%;

    line-height: 150%;

}

/* using the display flex and flex direction column on both the html and body elements I am able to push the footer down to the bottom of short pages using felx 1 on the main */

html, body {

    display: flex;

    flex-direction: column;

    min-height: 100vh;

    font-family: "Playfair Display";

    background-color: #1a1a1a;

}

main {

    text-indent: 2%;

    flex: 1;

}

p {

    margin-left: 6px;

    color: #ffffff;

    text-shadow: 
    -2px -2px #0d0d0d,
    2px -2px #0d0d0d,
    -2px 2px #0d0d0d,
    2px 2px #0d0d0d;

    font-size: 140%;
}

/* did a lot to make a custom form. styling the form its self with the same rules learned for the back ground image,
learned how to style all the parts of the form as well, using color for the placeholder and textarea helps to keep the text while where it was default black. */

form {

    color: #0d0d0d;

    font-weight: 1000;

    font-size: 120%;

    margin-left: 10px;

    margin-right: 10px;

    border-style: groove;

    border-color: #b8860b;

    border-width: 5px;

    background-image: url(images/Hunt_Background_05.jpg);

    background-size: cover;

    background-repeat: no-repeat;

    background-position: center;

    background-attachment: fixed;

    display: grid;

}
 
input {


    background-color: #0d0d0d;

    color: #ffffff;

}

input::placeholder {

    color: #ffffff;

}

input[type=submit] {

    color: #ffffff;

}

input[type=submit]:hover {

    text-decoration: underline;

}

input[type=reset] {

    color: #ffffff;

}

input[type=reset]:hover {

    text-decoration: underline;
    
}


textarea {

    border: solid #ffffff;

    background-color: #0d0d0d;

    color: #ffffff;

}

textarea::placeholder {

    color: #ffffff;

}

.ammo-container {

    display: grid;

    margin-left: 4px;

    margin-right: 4px;


}

.ammo-table {

    color: #ffffff;


    border-collapse: collapse;

}

.ammo-table th, .ammo-table td {

    border: 1px solid #b8860b;

    padding: 8px;

    text-align: left;

}

/* shoved a image into the nav bar, sadly cant find away to move it how I'd truly like to */

#navbar-horizontal {

    width: 30%;

    height: auto;

}

/* I made a custom image for the drop down button of the nav bar */

.navbar-hunt {

    font-size: 130%;

    background-image: url(images/WhiteHuntCrosses.png);

}

/* Added a hover to the button to make it stick out for the nav bar drop down */


button:hover {

    background-color: #b8860b;
    
}


.navbar-bounty {

    color: #ffffff;

}

.bg-hunter {

    background-color: #0d0d0d;
}

/* the size cover, no repeat, center, fixed on the image makes the image postion stay fixed while scrolling for longer pages */

#main-background {

    background-image: url(images/Hunt_Background_01.jpg);

    background-size: cover;

    background-repeat: no-repeat;

    background-position: center;

    background-attachment: fixed;

}

#Huntvideo {

    border: 4px solid #0d0d0d;

}

.image-left {

    width: 30%;

    height: auto;

    border: 3px solid #b8860b;

    float: left;

    margin-left: 20px;

    margin-right: 10px;
}

.image-right {

    width: 30%;

    height: auto;

    border: 3px solid #b8860b;

    float: right;

    margin-left: 20px;

    margin-right: 10px;
}

.loadout-images {

    width: 100%;

    height: auto;

    margin-bottom: 10px;

    border-width: 3px 3px 3px 3px;

    border-style: solid;

    border-color: #b8860b;

    display: block;

}

.maps {

    height: auto;

    display: inline-block;

    border: solid 2px #0d0d0d;

    margin-left: 14px;

    margin-bottom: 10px;

    width: 90%

}

.map-images {

    height: auto;

    display: inline;

    border: solid 5px #0d0d0d;

    margin-left: 6%;

    margin-bottom: 10px;

    width: 90%
}


.monster {

    height: auto;

    display: inline;

    border: solid 5px #b8860b;

    margin-left: 6%;

    margin-bottom: 10px;

    width: 90%

}